# Elasticsearch
ELASTIC_PROTO=http
ELASTIC_HOST=es
ELASTIC_PORT=9200

# Redis
REDIS_PROTO=redis
REDIS_HOST=redis
REDIS_PORT=6379

# Test
TEST_ELASTIC_URL=http://es:9200
TEST_REDIS_URL=redis://redis:6379/0
TEST_API_URL=http://api:8000/api/v1

COMPOSE_PROJECT_NAME=fastapi_test
